File Challenge/file challenge.tex
File Challenge/build/file challenge.aux
File Challenge/build/file challenge.log
File Challenge/build/file challenge.synctex.gz
File Challenge/build/pythonlisting.aux
